/* Default for whole page */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
}

body {
    background-image: url('assets/back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wholePage {
    display: flex;
    flex-direction: column;
}

.everyCard {
    display: flex;
    margin: 5%;
    flex-direction: column;
    justify-content: center;
    height: 200vh;

}

/*

---HEADER---

*/

.navBar {
    display: flex; 
    padding: 10px; 
    flex-direction: row; 
    justify-content: space-between;

}

.name {
    padding: 0px 5px; 
    color: white; 
      
}

a, a:visited {
    padding: 5px 0px; 
    text-decoration: none;
    color: white; 
    margin: 0px 10px; 
}

a:hover {
    color: black; 
}

.nameLogo{
    display:flex;
    flex-direction: row; 
    font-size: 12px; 
}

.nameLogo > .logo {
    font-size: 24px; 
    color: white; 
    padding: 5px;

}



/*

---LANDING PAGE---

*/

.wholeLanding{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    color: white; 
}

.blurb{ 
    display: flex;
    justify-content: center;
}

.blurb > h3 { 
    position: absolute;
    top: 650px;

}

.downArrow {
    position: absolute;
    top: 700px;

}





/* 

---CARDS---

Adjust the width of the cards (look at exercise 2 for help)

*/

.card {
    border: black solid;
    display: flex;
    flex-direction: column;
    margin: 100px 25px;  
    min-width:315px; 
    padding: 20px; 
    border-radius: 20px;

}

.image > img {
    display: block; 
    border-radius: 50%;
    height: 200px;
    width: 200px; 

}

.image, .text, .musicPlayer{
    display:flex; 
    justify-content: center;
    flex-basis: 30%; 
}

.text{
    flex-direction: column;
    align-items: center;
    padding: 20px; 
   
}

.text > p:first-child {
    font-style: italic;
}

.playIcon, .backwards, .forwards {
    font-size: 32px;
    padding: 5px;  
}





/*

---FOOTER---

*/

footer{
    color: white;
    display:flex;
    justify-content: center;
    padding: 10px; 
}



/*

---WEBPAGE MEDIA QUERY---

Fix nav bar for responsive

*/

@media only screen and (min-width: 1000px) {
    .everyCard{
        flex-direction: row; 
        height: 100vh;
    }

    .card{
        flex-direction: column; 
    }

}